---
# MEGA Desktop App
- name: Package Variable Setting
  ansible.builtin.set_fact:
    app: "megasync"
    app_name: "Megasync"

- name: Install {{ app_name }}
  block:
  - name: Add {{ app_name }} GPG key
    ansible.builtin.apt_key:
      url: https://mega.nz/linux/repo/xUbuntu_{{ ansible_facts['distribution_version'] }}/Release.key
      keyring: /usr/share/keyrings/meganz-archive-keyring.gpg
      state: present

  - name: Add {{ app_name }} repository
    ansible.builtin.apt_repository:
      repo: deb [signed-by=/usr/share/keyrings/meganz-archive-keyring.gpg] https://mega.nz/linux/repo/xUbuntu_{{ ansible_facts['distribution_version'] }}/ ./
      state: present
      filename: megasync

  - name: Install {{ app_name }}
    ansible.builtin.apt:
      name: megasync
      state: present

  - name: Install {{ app_name }} for Nautilus
    ansible.builtin.apt:
      name: nautilus-megasync
      state: present
  when: mega == True
