# Trivy to find vulnerabilities (CVE) & misconfigurations (IaC) across code repositories
---
- name: Package Variable Setting
  ansible.builtin.set_fact:
    app: "trivy"
    app_name: "Trivy"

- name: Install {{ app_name }}
  block:
  - name: Add Aqua Security GPG key
    ansible.builtin.apt_key:
      url: https://aquasecurity.github.io/trivy-repo/deb/public.key
      keyring: /usr/share/keyrings/{{ app }}.gpg
      state: present

  - name: Add {{ app_name }} repository
    ansible.builtin.apt_repository:
      repo: "deb [signed-by=/usr/share/keyrings/{{ app }}.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main"
      state: present
      filename: trivy
      
  - name: Install {{ app_name }}
    ansible.builtin.apt:
      name: trivy
      state: present

  - name: Check if completion script exists
    stat:
      path: "/etc/bash_completion.d/{{ app }}"
    register: completion_script_stat

  - name: Generate completion script
    command: "{{ app }} completion bash"
    register: completion_script
    changed_when: false
    when: not completion_script_stat.stat.exists

  - name: Save completion script
    copy:
      content: "{{ completion_script.stdout }}"
      dest: "/etc/bash_completion.d/{{ app }}"
      mode: "0644"
    when: not completion_script_stat.stat.exists

  - name: Check {{ app_name }} version
    command: "/usr/bin/{{ app }} version"
    register: "install_result"
    changed_when: false
    become_user: "{{ ansible_user }}"
    ignore_errors: true

  - name: Extract and clean {{ app_name }} version
    set_fact:
      new_version: "{{ (install_result.stdout | regex_search('Version:\\s*v?([0-9]+\\.[0-9]+\\.[0-9]+)', '\\1')) | first }}"

  - name: Show {{ app_name }} version
    debug:
      msg: "{{ app_name }} version is {{ new_version }}"

  when: 
    - trivy == True
    - ansible_distribution == "Ubuntu"
