---
# A tool for secrets management, encryption as a service, and privileged access management
- name: Package Variable Setting
  ansible.builtin.set_fact:
    app: "vault"
    app_name: "Vault"
    app_dir: "/usr/local/bin"

- name: Install {{ app_name }}
  block:
    - name: Install {{ app_name }}
      command: "{{ app_dir }}/binenv install {{ app }}"
      args:
        creates: "{{ app_dir }}/{{ app }}"

    # Add completion to user's .bashrc using Ansible variables
    - name: Add {{ app_name }} completion to bashrc
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: "complete -C {{ app_dir }}/{{ app }} {{ app }}"
        regexp: "^complete -C .*{{ app }}$"
        state: present
        create: true

    # Show installed version
    - name: Check {{ app_name }} version
      command: "{{ app_dir }}/{{ app }} --version"
      register: install_result
      changed_when: false

    - name: Extract and clean version
      set_fact:
        new_version: "{{ (install_result.stdout | regex_search('Vault v([0-9]+\\.[0-9]+\\.[0-9]+)', '\\1')) | first }}"

    - name: Show {{ app_name }} version
      ansible.builtin.debug:
        msg: "{{ app_name }} version is {{ new_version }}"

  when: vault and (binenv | default(false))