# {{ ansible_managed_header }}
# {{ ansible_managed_warning }}
{
{% if docker_log_driver is defined %}
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  }{% if docker_enable_cgnat | bool %},
{% endif %}
{% endif %}
{% if docker_enable_cgnat | bool %}
  "default-address-pools": [
    {
      "base": "{{ docker_cgnat_base }}",
      "size": {{ docker_cgnat_size }}
    }
  ]
{% endif %}
}
