# For more information see the manual pages of crontab(5) and cron(8)
# m h dom mon dow   command

# This file is maintained by Ansible
# Any changes can be overwritten

# Complete system update
{{ mntm }} 02   *  *   *     sudo apt -f install && sudo apt update && sudo apt upgrade -y && sudo apt dist-upgrade -y && sudo apt autoremove -y
{% if role in ['combi', 'master', 'worker'] %}

# Shut down the K8s node and restart
29 06  {{ mntd }}  *   *     /usr/bin/kubectl drain --ignore-daemonsets --delete-emptydir-data --force --grace-period=50 {{ inventory_hostname }}
30 06  {{ mntd }}  *   *     sudo /usr/sbin/reboot
40 06  {{ mntd }}  *   *     /usr/bin/kubectl uncordon {{ inventory_hostname }}
{% endif %}
{% if orange == true and role not in ['combi', 'master', 'worker'] %}

# Update Docker apps
{{ mntm }} 03   *  *  mon    /home/{{ ansible_user }}/scr/docker_update.sh

# Restart OrangePi
30 06  {{ mntd }}  *   *     sudo /usr/sbin/reboot
{% endif %}
