# For more information see the manual pages of crontab(5) and cron(8)
# m h dom mon dow   command

# This file is maintained by Ansible
# Any changes can be overwritten

# Check the first disk
{% if first_disk is defined and first_disk != 'none' %}
00 11   *  *  0-5    sudo /usr/sbin/smartctl -t short {{ first_disk }} 	 2>/dev/null
10 11   *  *  sat    sudo /usr/sbin/smartctl -t long  {{ first_disk }} 	 2>/dev/null   # Saturday
{% endif %}
{% if second_disk is defined and second_disk != 'none' %}

# Check the second disk
05 11   *  *  1-5    sudo /usr/sbin/smartctl -t short {{ second_disk }}   2>/dev/null
00 01   *  *  fri    sudo /usr/sbin/smartctl -t long  {{ second_disk }}   2>/dev/null   # Friday night
{% endif %}

# Complete system update
{{ mntm }} 05   *  *   *     sudo apt -f install && sudo apt update && sudo apt upgrade -y && sudo apt dist-upgrade -y && sudo apt autoremove -y
{% if role in ['combi', 'master', 'worker'] %}

# Shut down the K8s node and restart
29 07  {{ mntd }}  *   *     /usr/bin/kubectl drain --ignore-daemonsets --delete-emptydir-data --force --grace-period=50 {{ inventory_hostname }}
30 07  {{ mntd }}  *   *     sudo /usr/sbin/reboot
45 07  {{ mntd }}  *   *     /usr/bin/kubectl uncordon {{ inventory_hostname }}
{% endif %}

{% if addition_cron is defined %}
# Special tasks only for this machine
{% for task in addition_cron %}

# {{ task.name }}
{{ task.minute | default(' *') }} {{ task.hour | default(' * ') }} {{ task.day | default(' *') }}  *   *     {{ task.job }}
{% endfor %}
{% endif %}
