---
- name: Ensure DNF is ready (clean, unlock, refresh)
  block:
    - name: Clean DNF
      ansible.builtin.command:
        cmd: dnf clean all
      changed_when: false
      ignore_errors: yes

    - name: Remove any lock files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /var/run/dnf.pid
        - /var/cache/dnf/lock
      ignore_errors: yes

    - name: Force refresh repositories metadata
      ansible.builtin.command:
        cmd: dnf makecache --assumeyes --refresh
      register: cache_result
      changed_when: >
        'Metadata cache created' in cache_result.stdout or 
        'Metadata cache refreshed' in cache_result.stdout
      ignore_errors: yes
  rescue:
    - name: If failed, try with more aggressive cleanup
      ansible.builtin.command:
        cmd: rm -rf /var/cache/dnf/* /var/lib/dnf/lock*
      ignore_errors: yes
    
    - name: Retry refresh
      ansible.builtin.command:
        cmd: dnf makecache --assumeyes --refresh
      changed_when: false

# - name: Add Prometheus repository
#   ansible.builtin.yum_repository:
#     name: prometheus
#     description: Prometheus repo
#     baseurl: https://packagecloud.io/prometheus-rpm/release/el/$releasever/$basearch
#     gpgcheck: yes
#     enabled: yes
#     gpgkey: 
#       - https://packagecloud.io/prometheus-rpm/release/gpgkey
#       - https://raw.githubusercontent.com/lest/prometheus-rpm/master/RPM-GPG-KEY-prometheus-rpm


- name: Enable EPEL repository for RedHat
  block:
    - name: Enable subscription-manager
      ansible.builtin.command:
        cmd: subscription-manager config --rhsm.manage_repos=1

    - name: Get architecture
      ansible.builtin.command: uname -m
      register: architecture

    - name: Enable CodeReady Builder repository
      rhsm_repository:
        name: codeready-builder-for-rhel-{{ ansible_facts['distribution_major_version'] }}-{{ architecture.stdout }}-rpms
        state: enabled

    - name: Import EPEL GPG key
      ansible.builtin.rpm_key:
        state: present
        key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_facts['distribution_major_version'] }}
        
    - name: Install EPEL to RedHat
      ansible.builtin.dnf:
        name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_facts['distribution_major_version'] }}.noarch.rpm
        state: latest

    - name: Refresh the repo cache
      ansible.builtin.dnf:
        update_cache: yes
        cacheonly: yes
      ignore_errors: yes

    - name: Verify EPEL repo is enabled
      ansible.builtin.command:
        cmd: yum repolist enabled | grep "epel"
      register: epel_repo_check
      changed_when: false

    - name: Debug EPEL repo check result
      ansible.builtin.debug:
        var: epel_repo_check.stdout_lines
  when:
    - ansible_facts["distribution"] == "RedHat"
    - ansible_facts['distribution_major_version'] in ["9", "10"]


- name: Install EPEL packages for CentOS and Rocky
  block:
    - name: Install EPEL packages to CentOS and Rocky
      ansible.builtin.dnf:
        name:
          - epel-release
        state: latest

    # - name: Install subscription-manager
    #   ansible.builtin.dnf:
    #     name:
    #       - subscription-manager
    #     state: latest
  when: 
    - ansible_facts["distribution"] == "CentOS" or ansible_facts["distribution"] == "Rocky"
    - ansible_facts['distribution_major_version'] | == "9"

- name: Update all system packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
    update_only: yes
  register: system_update
  changed_when: system_update.changed
  async: 3600
  poll: 30

- name: Install useful packages
  ansible.builtin.dnf:
    name:
      - ca-certificates
      - curl
      - htop
      - screen
      - mc
      - sysstat
      - fail2ban
      - nfs-utils
      - ethtool
      - ufw
      - langpacks-en
      - langpacks-cs
      - glibc-all-langpacks
      - bash-completion
      - tree
      # - node_exporter
    state: latest
  
- name: Start the fail2ban service
  ansible.builtin.systemd:
    name: fail2ban
    state: started
    enabled: true

- name: Start the sysstat service
  ansible.builtin.systemd:
    name: sysstat
    state: started
    enabled: true
