# This file is maintained by Ansible
# Any changes can be overwritten

# For more information see the manual pages of crontab(5) and cron(8)
# m h dom mon dow   command

# Check the first disk
00  1   *  *  0-5    sudo /usr/sbin/smartctl -t short /dev/sda 	2>/dev/null
00  2   *  *  sat    sudo /usr/sbin/smartctl -t long  /dev/sda 	2>/dev/null   # Saturday, duration 90 min

# Check the second disk
20  1   *  *  1-6    sudo /usr/sbin/smartctl -t short /dev/sdb 	2>/dev/null
00  2   *  *  sun    sudo /usr/sbin/smartctl -t long  /dev/sdb 	2>/dev/null   # Sunday,   duration  2 min

# Complete system update
47  5   *  *   *     sudo apt -f install && sudo apt update && sudo apt upgrade -y && sudo apt dist-upgrade -y && sudo apt autoremove -y

# Shut down the node and restart
30  6  {{ maintenance }}  *   *     /usr/local/bin/kubectl drain --ignore-daemonsets --delete-emptydir-data {{ inventory_hostname }} && sudo init 6
40  6  {{ maintenance }}  *   *     /usr/local/bin/kubectl uncordon {{ inventory_hostname }}
