- name: Set up crontab for Debian family
  block:
    - name: Add Kubernetes crontab (Debian)
      ansible.builtin.template:
        src: templates/crontab.j2
        dest: "/var/spool/cron/crontabs/{{ ansible_user }}"
        owner: "{{ ansible_user }}"
        group: crontab
        mode: '0600'
      when: role in ['combi', 'master', 'worker']

    - name: Add OrangePi crontab (Debian)
      ansible.builtin.template:
        src: templates/crontab-orange.j2
        dest: "/var/spool/cron/crontabs/{{ ansible_user }}"
        owner: "{{ ansible_user }}"
        group: crontab
        mode: '0600'
      when:
        - orange | default(false)
        - role not in ['combi', 'master', 'worker']
  when: ansible_facts["os_family"] == "Debian"

- name: Set up crontab for RedHat family
  block:
    - name: Add common crontab for RedHat
      ansible.builtin.template:
        src: templates/crontab-toolbox.j2
        dest: "/var/spool/cron/{{ ansible_user }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0600'
      when: cron

  when: ansible_facts["os_family"] == "RedHat"
