# {{ ansible_managed_header }}
# {{ ansible_managed_warning }}

http_proxy={{ proxy_url }}
HTTP_PROXY={{ proxy_url }}
https_proxy={{ proxy_url }}
HTTPS_PROXY={{ proxy_url }}
FTP_PROXY={{ proxy_url }}
no_proxy={{ no_proxy }}
NO_PROXY={{ no_proxy }}
BINENV_GLOBAL=true
