#!/bin/bash
#   ***************************************
#   Simple scrpit to update Docker apps
#   begin     : Fri 28 Jun 2024
#   copyright : (c) 2024 Václav Dvorský
#   email     : Vaclav.Dvorsky@aricoma.com
#   $Id: docker_update.sh, v1.10 22/12/2024
#   ***************************************

#   --------------------------------------------------------------------
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public Licence as published by
#   the Free Software Foundation; either version 2 of the Licence, or
#   (at your option) any later version.
#   --------------------------------------------------------------------


{% if pihole is defined and pihole != 'false' and pihole != false %}
# Refresh the Pi-hole
cd ~/docker/pi-hole;        docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if prometheus is defined and prometheus != 'false' and prometheus != false %}
# Refresh the Prometheus
cd ~/docker/prometheus;     docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if unify is defined and unify != 'false' and unify != false %}
# Refresh the Unify
cd ~/docker/unifi;          docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if torproject is defined and torproject != 'false' and torproject != false %}
# Refresh the Tor
cd ~/docker/torproject;     docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if openvpn is defined and openvpn != 'false' and openvpn != false %}
# Refresh the Openvpn
cd ~/docker/openvpn;        docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if gitea is defined and gitea != 'false' and gitea != false %}
# Refresh the Gitea
cd ~/docker/gitea;          docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if homeassistant is defined and homeassistant != 'false' and homeassistant != false %}
# Refresh the Home Assistant
cd ~/docker/home-assistant; docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
# Refresh the Let's Encrypt
cd ~/docker/acme-companion; docker compose pull && docker compose build && docker compose up -d
sleep 60

docker system prune --volumes -a -f
