---
- name: Set timezone to {{ timezone }}
  ansible.builtin.timezone:
    name: '{{ timezone }}'

- name: Get current system locale
  ansible.builtin.shell: echo $LANG
  register: current_locale
  changed_when: false

- name: Save current locale as a fact
  ansible.builtin.set_fact:
    original_locale: "{{ current_locale.stdout }}"

- name: Ensure a {{ country }} locale exists
  community.general.locale_gen:
    name: '{{ lang }}'
    state: present
  when: ansible_os_family | lower != "redhat"

- name: Set English as the default locale
  ansible.builtin.shell: localectl set-locale LANG=en_US.UTF-8 LC_MESSAGES=en_US.UTF-8 LC_TIME=en_US.UTF-8
  when: language != 'czech' or (desktop != true and original_locale != lang)

- name: Set {{ country }} as the default locale
  ansible.builtin.shell: localectl set-locale LANG={{ lang }} LC_MESSAGES={{ lang }} LC_TIME={{ lang }}
  when: language != 'english' or (desktop == true and original_locale == lang)

- name: Set to generate locales
  ansible.builtin.debconf:
    name: locales
    question: locales/locales_to_be_generated
    value: en_US.UTF-8 UTF-8, {{ lang }} UTF-8
    vtype: multiselect
  when: language != 'english' or original_locale == lang

- name: Get current system locale
  ansible.builtin.shell: echo $LANG
  register: new_locale
  changed_when: false

- name: "Check if font Sacramento exists"
  ansible.builtin.stat:
    path: "/usr/local/share/fonts/Sacramento/Sacramento-Regular.ttf"
  register: sacramento_font

- name: Install beautiful Central European fonts
  block:
    - name: Download fonts from Github
      ansible.builtin.get_url:
        url: https://github.com/hufhend/ubuntu-postinstall/raw/main/fonts.tar.gz
        dest: /tmp
        mode: '0640'

    - name: Extract fonts
      ansible.builtin.unarchive:
        src: /tmp/fonts.tar.gz
        dest: /usr/local/share
        remote_src: yes
        mode: '0755'

    - name: Change file permissions
      ansible.builtin.command: find /usr/local/share/fonts -type f -exec chmod 0644 {} +

    - name: Remove fonts tarball
      ansible.builtin.file:
        path: /tmp/fonts.tar.gz
        state: absent      
      
  when: not sacramento_font.stat.exists

- name: Add KUBECONFIG to .bashrc
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: 'export KUBECONFIG="{{ ansible_env.HOME }}/.kube/config"'
    create: yes
    state: present

- name: Create a bash completion directory
  ansible.builtin.file:
    path: /etc/bash_completion.d
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Display machine information
  debug:
    msg:
    - "{{ ansible_distribution }} {{ ansible_distribution_version }}, {{ ansible_distribution_release }}"
    - "Kernel: {{ ansible_kernel }}, {{ ansible_architecture }}"
    - "CPU: {{ ansible_processor_cores }} physical, {{ ansible_processor_vcpus }} logical, RAM: {{ (ansible_memtotal_mb / 1000) | round | int }} GB total, {{ (ansible_memfree_mb / 1000) | round | int }} GB free"    
    # - "Hostname: {{ ansible_hostname }} {{ ansible_domain }}"

- name: Print original and current locale
  ansible.builtin.debug:
    msg:
      - "Original locale : {{ original_locale }}"
      - "Current locale  : {{ new_locale.stdout }}"    
      - "Time zone       : {{ timezone }}"

# This is where everything else is installed
- name: Add other software
  include_tasks:
    file: "{{ item }}"
  loop: "{{ query('fileglob', '{{ role_path }}/files/*.yaml') }}"
  no_log: true
