---
#   **********************************************
#   Ansible initialization playbook - Ubuntu 22.04
#   begin     : Wed 28 Feb 2024
#   copyright : (c) 2024 Václav Dvorský
#   email     : hufhendr@gmail.com
#   $Id: host-init.yaml, v1.40 13/11/2025
#   **********************************************

#   --------------------------------------------------------------------
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public Licence as published by
#   the Free Software Foundation; either version 2 of the Licence, or
#   (at your option) any later version.
#   --------------------------------------------------------------------

- name: Gather facts for first time
  ansible.builtin.setup:

- name: Ping all hosts
  ansible.builtin.ping:
  register: ping_result

- name: Set hostname by inventory
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

# Unified user creation for both macOS and Linux
- name: Add Ansible user
  ansible.builtin.user:
    name: "{{ user_ansible }}"
    create_home: true
    shell: "{{ '/bin/zsh' if ansible_os_family == 'Darwin' else '/bin/bash' }}"
    group: "{{ 'staff' if ansible_os_family == 'Darwin' else user_ansible }}"
    home: "{{ '/Users/' + user_ansible if ansible_os_family == 'Darwin' else omit }}"
    uid: 2000
    state: present
  when: ansible_user != user_ansible

# Only for Linux systems
- name: Ansible user doesn't log in via GUI
  ansible.builtin.lineinfile:
    path: "/var/lib/AccountsService/users/{{ user_ansible }}"
    regexp: '^SystemAccount='
    line: 'SystemAccount=true'
  ignore_errors: true    
  when: 
    - ansible_user != user_ansible
    - ansible_os_family != "Darwin"

- name: Print ansible_user variable
  debug:
    var: ansible_user

- name: Print user_ansible variable
  debug:
    var: user_ansible

- name: Check if the sudoers file exists
  ansible.builtin.stat:
    path: "/etc/sudoers.d/{{ user_ansible }}"
  register: sudoers_file
  changed_when: false

- name: Set sudoers parameters based on OS
  set_fact:
    sudoers_group: "{{ 'wheel' if ansible_os_family == 'Darwin' else 'root' }}"
    sudoers_mode: '0440'

- name: Upload the sudoers template
  template:
    src: templates/sudoers.j2
    dest: "/etc/sudoers.d/{{ user_ansible }}"
    owner: root
    group: "{{ sudoers_group }}"
    mode: "{{ sudoers_mode }}"
  when: not sudoers_file.stat.exists

- name: Add Ansible authorized ssh key
  ansible.posix.authorized_key:
    key: "{{ lookup('file', item.key) }}"
    user: "{{ user_ansible }}"
    state: "{{ item.state | default(omit) }}"
  when: item.key is exists
  loop: "{{ pub_key_file }}"

- name: Add hostname to hosts
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: '^127\.0\.0\.1'
    line: 127.0.0.1   localhost {{ inventory_hostname }}

- name: Restart SSH service on macOS to recognize new user
  command: launchctl kickstart -k system/com.openssh.sshd
  when: ansible_os_family == "Darwin"
  become: yes
  changed_when: true
  