#!/bin/bash
#   ***************************************
#   Simple scrpit to update Docker apps
#   begin     : Fri 28 Jun 2024
#   copyright : (c) 2024 Václav Dvorský
#   email     : Vaclav.Dvorsky@aricoma.com
#   $Id: docker_update.sh, v1.20 25/04/2026
#   ***************************************

#   --------------------------------------------------------------------
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public Licence as published by
#   the Free Software Foundation; either version 2 of the Licence, or
#   (at your option) any later version.
#   --------------------------------------------------------------------

#   {{ ansible_managed_header }}
#   {{ ansible_managed_warning }}

{% if docker_pihole is defined and docker_pihole != 'false' and docker_pihole != false %}
# Refresh the Pi-hole
cd ~/docker/pi-hole;        docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_prometheus is defined and docker_prometheus != 'false' and docker_prometheus != false %}
# Refresh the Prometheus
cd ~/docker/prometheus;     docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_unify is defined and docker_unify != 'false' and docker_unify != false %}
# Refresh the Unify
cd ~/docker/unifi;          docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_torproject is defined and docker_torproject != 'false' and docker_torproject != false %}
# Refresh the Tor
cd ~/docker/torproject;     docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_openvpn is defined and docker_openvpn != 'false' and docker_openvpn != false %}
# Refresh the Openvpn
cd ~/docker/openvpn;        docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_gitea is defined and docker_gitea != 'false' and docker_gitea != false %}
# Refresh the Gitea
cd ~/docker/gitea;          docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
{% if docker_homeassistant is defined and docker_homeassistant != 'false' and docker_homeassistant != false %}
# Refresh the Home Assistant
cd ~/docker/home-assistant; docker compose pull && docker compose build && docker compose up -d
sleep 30

{% endif %}
# Refresh the Let's Encrypt
cd ~/docker/acme-companion; docker compose pull && docker compose build && docker compose up -d
sleep 60

docker system prune --volumes -a -f
