---
- name: Package Variable Setting
  ansible.builtin.set_fact:
    KUBECONFIG: "/home/{{ user_ansible }}/.kube/config"

- name: Installation and setup of cloud management utilities
  block:
    # Common packages - distro agnostic
    - name: Install common cloud tools packages
      ansible.builtin.package:
        name:
          - gh
          - git
          - make
          - sshpass
          - tcpdump
          - telnet
          - wget
          - yq
        state: latest

    # Distro specific includes
    - name: Include RedHat specific tasks
      ansible.builtin.include_tasks: RedHat.yaml
      when: ansible_facts['os_family'] == "RedHat"

    - name: Include Debian specific tasks
      ansible.builtin.include_tasks: Debian.yaml
      when: ansible_facts['os_family'] == "Debian"

    - name: Create install directory
      ansible.builtin.file:
        path: "/home/{{ user_ansible }}/install"
        state: directory
        owner: "{{ ansible_user }}"
        mode: '0755'

    # Binenv self-update
    - name: Check if binenv exists
      ansible.builtin.stat:
        path: /usr/local/bin/binenv
      register: binenv_stat

    - name: Upgrade all binenv distributions
      block:
        - name: Update software distributions
          ansible.builtin.command: /usr/local/bin/binenv update
        - name: Upgrade binenv distributions
          ansible.builtin.command: /usr/local/bin/binenv upgrade
      when: binenv_stat.stat.exists

    # Install all tools from files/*.yaml
    - name: Install other software from includes
      ansible.builtin.include_tasks: "{{ item }}"
      loop: "{{ query('fileglob', role_path ~ '/files/*.yaml') }}"
      no_log: true

    # Fix ownership after root installations
    - name: Change ownership of install directory
      ansible.builtin.file:
        path: "/home/{{ user_ansible }}/install"
        state: directory
        recurse: true
        owner: "{{ user_ansible }}"
        group: "{{ user_ansible }}"

    # OCP login helper
    - name: Setup OCP login scripts
      when: ocp_login | default(false)
      block:
        - name: Create scr directory
          ansible.builtin.file:
            path: "/home/{{ user_ansible }}/scr"
            state: directory
            mode: '0750'
            owner: "{{ user_ansible }}"
            group: "{{ user_ansible }}"

        - name: Deploy OCP login script
          ansible.builtin.copy:
            src: files/login-ocp.sh
            dest: "/usr/local/bin/ocp-login"
            mode: '0755'
            owner: "{{ user_ansible }}"
            group: "{{ user_ansible }}"
