---
- name: Package Variable Setting
  ansible.builtin.set_fact:
    KUBECONFIG: "/home/{{ user_ansible }}/.kube/config"

- name: Installation and setup of cloud management utilities
  block:
  - name: Install cloud tools packages
    ansible.builtin.package:
      name:
        - gh
        - git
        - make
        - sshpass
        - tcpdump
        - telnet
        - wget
        - yq
      state: latest

  - name: Install cloud tools for RedHat
    ansible.builtin.dnf:
      name:
        - git-subtree
        - go
        - java-latest-openjdk
        - nano
        - nmap-ncat
        - rsync
        - trivy
        - vim
      state: latest
    when: ansible_distribution == "RedHat" or ansible_distribution == "CentOS" or ansible_distribution == "Rocky"

  - name: Install cloud tools packages for Ubuntu
    ansible.builtin.apt:
      name:
        - cephadm
        - ncat
        - nmap
      state: latest
    when: ansible_distribution == "Ubuntu"

  - name: Create a install directory
    ansible.builtin.file:
      path: /home/{{ user_ansible }}/install
      state: directory
      owner: "{{ ansible_user }}"
      mode: '0755'

  # This is where everything else is installed
  - name: Add other software
    include_tasks:
      file: "{{ item }}"
    loop: "{{ query('fileglob', role_path ~ '/files/*.yaml') }}"
    no_log: true

  - name: Change ownership of packages
    ansible.builtin.file:
      path: /home/{{ user_ansible }}/install/
      state: directory
      recurse: yes
      owner: "{{ user_ansible }}"
      group: "{{ user_ansible }}"

  - block:
      - name: Create scr directory
        ansible.builtin.file:
          path: "/home/{{ user_ansible }}/scr"
          state: directory
          mode: '0750'
          owner: "{{ user_ansible  }}"

      - name: Deploy OCP login script
        ansible.builtin.template:
          src: templates/login-ocp.sh.j2
          dest: "/home/{{ user_ansible }}/scr/login-ocp.sh"
          mode: '0740'
          owner: "{{ user_ansible }}"
          group: "{{ user_ansible }}"
    when: ocp_login

  - name: Check if binenv exists
    ansible.builtin.stat:
      path: /usr/local/bin/binenv
    register: binenv_stat
    
  - name: Upgrade all binenv distributions
    block:
    - name: Update software distributions
      command: /usr/local/bin/binenv update

    - name: Upgrade binenv distributions
      command: /usr/local/bin/binenv upgrade

    when: binenv_stat.stat.exists
