---
- name: Install cloud tools for RedHat family
  ansible.builtin.dnf:
    name:
      - git-subtree
      - go
      - java-latest-openjdk
      - nano
      - nmap-ncat
      - rsync
      - trivy
      - vim
    state: latest
  when: ansible_facts['os_family'] == "RedHat"
